<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <title>Student Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Pay My Buddy</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      <li sec:authorize="isAuthenticated()"><a href="load_form_transaction">Transfert</a></li>

      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}">Home</a>

      </li>
    </ul>
  </div>
</nav>

<div class ="container">
  <div class = "row">
    <h1> List Transaction </h1>
  </div>
</div>
<form th:action="@{/index}" method="get" th:object="${transactions}">
  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "load_form_transaction/new" class = "btn btn-primary btn-sm mb-3"> Add Transaction</a>
    </div>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> id</th>
      <th> description</th>
      <th> montant</th>
      <th> Date </th>
    </tr>
    </thead>
     <tbody>
     <tr th:each = "t:${transactions}">
       <td th:number = ${t.id_transaction}></td>
       <td th:text = "${t.description}"></td>
       <td th:number = ${t.montant}></td>
       <td th:text = ${t.date_transaction}></td>
     </tr>
     </tbody>
  </table>
</form>
</div>
</body>
</html>